# sbt
target/
project/target/
project/project/

# scala
*.class
*.log

# chisel/firrtl
test_run_dir/
*.fir
*.v
*.anno.json
*.vcd

# bloop
.bloop/
.bsp/

# metals
.metals/
.bloop/
metals.sbt

# ide
.idea/
.vscode/
*.swp
*.swo

# os
.DS_Store
hs_err_pid*
